#set($role = $authUtils.getAuthUser().role)
<header>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="index-student.vm">KPI管理系统</a>
                <span>(
                    #if($role eq "student")
                        学员
                    #elseif($role eq "headTeacher")
                        班主任
                    #elseif($role eq "teacher")
                        驻班教师
                    #elseif($role eq "interviewer")
                        面试官
                    #elseif($!role eq "investigator")
                        调查员
                    #elseif($!role eq "guider")
                        就业指导老师
                    #end )
            </span>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="fa fa-user"></i>  <b class="caret"></b>$authUtils.getAuthUserDetail().realName</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/$!{loginUser.role}/personalInfo"><i class="fa fa-fw fa-user"></i>个人信息</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/login"><i class="fa fa-fw fa-power-off"></i>退出登陆</a>
                        </li>
                    </ul>
                </li>
            </ul>


            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            #if($role == "student")
                #parse('student/sidebar-student.vm')
            #elseif($role == "headTeacher")
                #parse('headTeacher/sidebar-headTeacher.vm')
            #elseif($role == "teacher")
                #parse('teacher/sidebar-teacher.vm')
            #elseif($role == "interviewer")
                #parse('interviewer/sidebar-interviewer.vm')
            #elseif($role == "investigator")
                #parse('investigator/sidebar-investigator.vm')
            #elseif($role == "guider")
                #parse('guider/sidebar-guider.vm')
            #end
        </nav>
</header>