<!-- Page Heading -->
##<div class="row">
##    <div class="col-lg-12" id="welcome-section">
##        <h1 class="page-header">
##            欢迎使用轻课学员KPI管理系统
##        </h1>
##        <img src="/images/welcome.png">
##    </div>
##</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">${authUtils.getAuthUserDetail().realName} 你好！欢迎使用KPI管理系统</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-check fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">26</div>
                        <div>等待审批</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">查看详情</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">56</div>
                        <div>所有场地</div>
                    </div>
                </div>
            </div>
            <a href="javascript:allPlaceInfo()">
                <div class="panel-footer">
                    <span class="pull-left">查看详情</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-sitemap fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">12</div>
                        <div>部门场地</div>
                    </div>
                </div>
            </div>
            <a href="javascript:departmentPlaceInfo()">
                <div class="panel-footer">
                    <span class="pull-left">查看详情</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- /.row -->

<!-- load属于该部门的场地／所有场地列表 -->
<div id="placeList">

</div>


<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    function allPlaceInfo() {
        $("#placeList").load("/places");
    }

    function departmentPlaceInfo() {
        $("#placeList").load("/places?department=${authUtils.getAuthUser().department}");
    }
</script>