<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    修改密码
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-6">

                <form role="form" action="/$!{role}/modifypwd" method="post">

                    #if($!{message})
                        <script>
                            $(document).ready(function () {
                                alert('$!{message}');
                            })
                        </script>
                    #end
                    <div class="form-group">
                        <label>旧密码</label>
                        <input name="oldPassword" class="form-control" placeholder="请输入您的旧密码" type="password">
                    </div>

                    <div class="form-group">
                        <label>新密码</label>
                        <input name="newPassword" class="form-control" placeholder="请输入您的新密码" type="password">
                    </div>

                    <div class="form-group">
                        <label>确认密码</label>
                        <input name="checkPassword" class="form-control" placeholder="请重复您的新密码" type="password">
                    </div>
                    <button type="submit" class="btn btn-default">提交</button>

                </form>

            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

</body>

</html>