<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            反馈意见
        </h1>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <form role="form" action="/student/feedback" method="post">
        <div class="col-lg-6">
            <div class="form-group col-lg-12">
                <label>请记录学生对轻课学院的意见或建议</label>
            </div>

            <div class="form-group col-lg-4">
                <label>姓名<span style="font-size:10px;color:#cc000e;margin-left:5px;">(只读)</span></label>
                <input name="studentName" class="form-control form-stuName" value="$!{student.realName}"
                       readonly>
            </div>
            <div class="form-group col-lg-4">
                <label>日期<span style="font-size:10px;color:#cc000e;margin-left:5px;">(只读)</span></label>
                <input class="form-control form-date extract-from-load" value="$!{date}" readonly>
            </div>
            <div class="form-group col-lg-4">
                <label>类别:</label>
                <select name="type" class="form-control">
                    <option>投诉</option>
                    <option>建议</option>
                    <option>表扬</option>
                </select>
            </div>

            <div class="form-group col-lg-12">
                <textarea name="content" class="form-control" rows="10" class="form-comment"></textarea>
            </div>
            <div class="form-group col-lg-12">
                <button type="submit" class="btn btn-default">提交</button>
            </div>
        </div>
    </form>
</div>

<div class="col-lg-12" style="margin-top:30px;">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>反馈记录</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="feedback-table">
                    <thead>
                    <tr>
                        <th class="date sortable"><a href="#">创建日期</a><i class="fa fa-sort"></i></th>
                        <th class="date sortable"><a href="#">修改日期</a><i class="fa fa-sort"></i></th>
                        <th class="type sortable"><a href="#">反馈类型</a><i class="fa fa-sort"></i></th>
                        <th class="action"></th>
                    </tr>
                    </thead>
                    <tbody>
                        #foreach($feedback in $feedbacks)
                        <tr>
                            <td class="date">$date.format('yyyy-MM-dd', $feedback.ModifyTime)</td>
                            <td class="date">$date.format('yyyy-MM-dd', $feedback.ModifyTime)</td>
                            <td class="name">$!{feedback.type}</td>
                            <td>
                                <button id="feedbackInfo$!{feedback.id}"
                                        onclick="feedbackDetail($!{feedback.id})" type="button"
                                        class="btn btn-primary btn-sm">
                                    详情
                                </button>
                                <button id="feedbackInfo$!{feedback.id}"
                                        onclick="deleteFeedback($!{feedback.id})" type="button"
                                        class="btn btn-danger btn-sm">
                                    删除
                                </button>
                            </td>
                        </tr>
                        #end
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

<script>
    function feedbackDetail(feedbackId) {
        $('#myModal').modal({
            remote: "/student/feedbackmodal?feedbackId=" + feedbackId
        });
    }

    $("#myModal").on("hidden.bs.modal", function() {
        $(this).removeData("bs.modal");
    });

    function updateFeedback(feedbackId) {
        $.ajax({
            url: "/student/feedback?feedbackId=" + feedbackId,
            type: "put",
            contentType: "application/x-www-form-urlencoded",
            data: $('#content'),
            datatype: "json",
            success: function (data) {
                if (data.success) {
                    location.href = "/student/feedback";
                } else {
                    alert("用户名或密码错误，请重新输入");
                    $("#userId").val("");
                    $("#password").val("");
                }
            }
        });
    }

    function deleteFeedback(feedbackId) {
        $.ajax({
            url: "/student/feedback?feedbackId=" + feedbackId,
            type: "delete",
            contentType: "application/x-www-form-urlencoded",
            datatype: "json",
            success: function (data) {
                if (data.success) {
                    location.href = "/student/feedback";
                } else {
                    alert("用户名或密码错误，请重新输入");
                    $("#userId").val("");
                    $("#password").val("");
                }
            }
        });
    }
</script>
