<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            基础信息维护
        </h1>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-10">

        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th class="stuID sortable"><a href="#">学号</a><i class="fa fa-sort"></i></th>
                <th class="stuName sortable"><a href="#">姓名</a><i class="fa fa-sort"></i></th>
                <th class="stuClass sortable"><a href="#">班级</a><i class="fa fa-sort"></i></th>
                <th class="stuEmail sortable"><a href="#">邮箱</a><i class="fa fa-sort"></i></th>
                <th class="stuPhone sortable"><a href="#">电话</a><i class="fa fa-sort"></i></th>
                <th class="teacher sortable"><a href="#">老师</a><i class="fa fa-sort"></i></th>
                <th class="action"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="stuID">0823830</td>
                <td class="stuName">张三</td>
                <td class="stuClass">java班</td>
                <td class="stuEmail">zs@qk.com</td>
                <td class="stuPhone">13900000000</td>
                <td class="teacher">李老师</td>
                <td>
                    <a href="#" class="info-modify">修改</a>
                    <a href="#" style="float:right;color:red;">删除</a>
                </td>
            </tr>
            <tr>
                <td class="stuID">0829384</td>
                <td class="stuName">李四</td>
                <td class="stuClass">java班</td>
                <td class="stuEmail">ls@qk.com</td>
                <td class="stuPhone">13928470000</td>
                <td class="teacher">李老师</td>
                <td>
                    <a href="#" class="info-modify">修改</a>
                    <a href="#" style="float:right;color:red;">删除</a>
                </td>
            </tr>
            <tr>
                <td class="stuID">0823290</td>
                <td class="stuName">王五</td>
                <td class="stuClass">java班</td>
                <td class="stuEmail">ww@qk.com</td>
                <td class="stuPhone">13934560000</td>
                <td class="teacher">李老师</td>
                <td>
                    <a href="#" class="info-modify">修改</a>
                    <a href="#" style="float:right;color:red;">删除</a>
                </td>
            </tr>
            <tr>
                <td class="stuID">0823830</td>
                <td class="stuName">陈凯</td>
                <td class="stuClass">IOS班</td>
                <td class="stuEmail">ck@qk.com</td>
                <td class="stuPhone">15038200000</td>
                <td class="teacher">张老师</td>
                <td>
                    <a href="#" class="info-modify">修改</a>
                    <a href="#" style="float:right;color:red;">删除</a>
                </td>
            </tr>
            <tr>
                <td class="stuID">0829300</td>
                <td class="stuName">王芳</td>
                <td class="stuClass">IOS班</td>
                <td class="stuEmail">wf@qk.com</td>
                <td class="stuPhone">15092800000</td>
                <td class="teacher">张老师</td>
                <td>
                    <a href="#" class="info-modify">修改</a>
                    <a href="#" style="float:right;color:red;">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" id="create-info" class="btn btn-default float-r">创建学员</button>
    </div>
    <div class="col-lg-10">
        <form id="info-form">

            <div class="col-lg-4">
                <div class="form-group">
                    <label>学号</label>
                    <input class="form-control form-stuID">
                </div>

                <div class="form-group">
                    <label>班级</label>
                    <input class="form-control form-stuClass">
                </div>

                <div class="form-group">
                    <label>邮箱</label>
                    <input class="form-control form-stuEmail">
                </div>
            </div>

            <div class="col-lg-4">

                <div class="form-group">
                    <label>姓名</label>
                    <input class="form-control form-stuName">
                </div>

                <div class="form-group">
                    <label>电话</label>
                    <input class="form-control form-stuPhone">
                </div>

                <div class="form-group">
                    <label>老师</label>
                    <input class="form-control form-teacher">
                </div>
            </div>
            <div class="col-lg-8">
                <button type="submit" class="btn btn-default float-r">保存修改</button>
            </div>

        </form>
    </div>
</div>
