#set($teacher = $authUtils.getAuthUserDetail())
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            个人信息
        </h1>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <form id="inputForm" role="form">
        <div class="col-lg-4">

            <div class="form-group">
                <label>工号<span style="font-size:10px;color:#cc000e;margin-left:5px;">(只读)</span></label>
                <input name="userName" class="form-control" value="$!{teacher.userName}" readonly>
            </div>

            <div class="form-group">
                <label>姓名<span style="font-size:10px;color:#cc000e;margin-left:5px;">(只读)</span></label>
                <input name="realName" class="form-control" value="$!{teacher.realName}" readonly>
            </div>

            <div class="form-group">
                <label>电话</label>
                <input name="mobile" class="form-control" placeholder="请输入您的电话" value="$!{teacher.mobile}">
            </div>

            <div class="form-group">
                <label>邮箱</label>
                <input name="email" class="form-control" placeholder="请输入您的邮箱" value="$!{teacher.email}">
            </div>

            <div class="form-group pull-right">
                <button id="submit" type="button" class="btn btn-primary float-r">保存修改</button>
            </div>

        </div>
        <div class="col-lg-4">


        </div>
    </form>
</div>

<script>
    $("#submit").click(function () {
        var input = $("#inputForm").serialize();
        $.ajax({
            type: "PUT",
            url: "/teacher/personalinfo",
            data: input,
            datatype: "json",
            success: function (data) {
                if (!data.success) {
                    alert("用户信息更新失败");
                } else {
                    location.href = "/teacher/personalinfo";
                }
            }
        });
    });
</script>
